header{
  background-color: black;
  color: bisque;
  padding: 10px 100px;
  display: flex;
}
header .logo{
  font-size: 30px;
  cursor: pointer;
}
header .logo span{
  text-shadow: 3px 3px #bd6500, -3px -3px #218d9e;
  letter-spacing: 5px;
}
header .head-info{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .head-info .loginer {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  box-shadow: -4px -4px #218d9e, 4px 4px #bd6500;
}
header .head-info img{
  width: 34px;
  height: 34px;
}
header .head-info .login span {
 cursor: pointer;
}




/* login-dialog */
.dialog-login{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.dialog-login .login-mask{
  position: absolute;
  width: inherit;
  height: inherit;
  background: rgba(0,0,0, .5);
}
.dialog-login .login-body{
  background: #ffffff;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dialog-login .login-body h6{
  margin: 20px 0;
  padding: 0 15px;
}