header
  .logo-text
    span 无趣
  .head-info
    .loginer
      img(src="/images/ang.jpg")
      ul.login-menu
        li.my-info
          span 个人中心
        li.logout
          span 退出
    .login
      span 登录