doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel='stylesheet', href='/stylesheets/shop.css')
  body
    block content
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/shop.js")

